* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 :root{
    --font:'Roboto', sans-serif;
 }
 
 body {
    background-color: azure;
 }
 
 nav {
    background-color: white;
    display: flex;
    width: 100vw;
    justify-content: column;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid black;
 }
 
 .logo img {
    margin: 15px;
    height: 50px;
    width: 75px;
    /* border: 1px solid black; */
 }
 
 .men {
    display: flex;
    margin: 30px;
 
 }
 
 /* .men li a{
     text-decoration: none;
     color: black;
     font-size: 12px;
     font-family:'Roboto', sans-serif;
     margin: 12px;
     font-weight: 500;
     
 } */
 main{
    display: flex;
    background-color: white !important;
 }
 .dropdown {
    position: relative;
    display: inline-block;
 }
 
 .drop {
    background-color: white;
    color: rgb(9, 9, 9);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
 }
 
 .dropcontent {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 }
 
 .dropcontent li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
 
 }
 
 li {
    list-style-type: none;
 }
 
 .dropcontent a:hover {
    background-color: #f1f1f1;
 }
 
 .dropdown:hover .dropcontent {
    display: block;
    left: 25px;
 }
 
 .dropdown:hover .drop {
    text-decoration: underline;
 }
 
 input {
    width: 300px;
    height: 35px;
    margin-top: 23px;
    outline: none;
    background-color: rgb(244, 244, 244);
 }
 
 .fa-magnifying-glass {
    position: relative;
    left: 26px;
 
 }
 
 .icon {
    display: flex;
    margin: 10px;
    padding: 10px;
    position: relative;
    justify-content: space-evenly;
 }
 
 .pic {
    position: relative;
    top: 4px;
    left: 10px;
    margin: 5px;
 }
 
 .pic1 {
    position: relative;
    top: 4px;
    left: 42px;
    margin: 5px;
 }
 
 .pic2 {
    position: relative;
    top: -2px;
    left: 82px;
    margin: 5px;
 }
 .bag {
    margin-left: 10px;
    margin-top: 7px;
 }
 
 h4 {
    margin-left: -10px;
 
 }
 a i span{
    white-space: nowrap;
       text-align: center;
       padding: 0 5px;
       border-radius: 58%;
       font-weight: bolder;
       font-size: 14px;
       color: white;
       top: -9px;
       left: -3px;
       position: relative;
       background-color: red;
 }
main{
   display: flex; 
} 
.item-right-part{
    position: relative;
    left: 131px;
    top: -157px;
    
}
.bag-items-container{
    position: relative;
    top: 129px;
    left: 10px;
    width: 96%;
    background-color: white;
    
    
}
.item-left-part{
    width: 644px;
  border: 1px solid rgb(205, 202, 202);
   
}
.item-image{
    height: 145px;
    width: 115px;
    margin: 10px;
}
.current-price{
    font-weight: bold;
}
.original-price{
  color: grey;
  text-decoration: line-through;
}
.discount{
font-weight: 100;
font-family: var(--font);
}
.return-period-days{
   font-family: var(--font);
}
.company{
   color: grey;
   font-family: var(--font);
}
.item-name{
    
    color: grey;
    font-family: var(--font);
}
.price{
    position: relative;
  float: right;
}

.delivery-details-days{
    color: grey;
}
.bag-summary{
    position: relative;
    top: 19px;
}
.remove-from-cart {
    position: absolute;
    font-size: 25px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    color: black;
    z-index: 1;
    top: 13px;
    right: 33px;
  }
  .right{
    margin-left: 19px;
    margin-top: 9px;
    margin-right: 27px;
    line-height: 30px;
    /* background: white; */
    border-bottom: 1px solid grey;
    font-family: var(--font);
  }
  button{
    margin-top: 11px;
    margin-left: 2px;
    cursor: pointer;
    width: 390px;
    height: 35px;
    color: white;
    font-weight: 800;
    border: none;
    background-color: rgb(240, 9, 47);
  }
  .amt{
    margin-left: 17px;
    margin-top: 17px;
    font-family: var(--font);
    /* background-color: white; */
  }
.bag-details-container{
   background-color: white;
    height: 204px;
    left: 744px;
    position: relative;
    top: -101px;
}
.bag-summary{
   width: 63%;
    padding-left: 13px;
    height: 126px;
    border-left: 1px solid rgb(200, 199, 199);
}
footer{
    display: flex;
}
.footer_column{
    display: flex;
}
.bagpage{
  width: 60;
}
.price-header{
    font-size: 12px;
    font-weight: bold;
    margin: 1px 0 11px;
    color: #4b4e58;
    font-family: var(--font);
}
.price-item {
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
    font-family: var(--font);
  }
  .price-item-value {
    float: right;
  }
  .price-footer {
    font-weight: 700;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
    font-family: var(--font);
  }
  .bag-item-container{
          position: relative;
    height: 191px;
  }
  /* .bag-page{
width: 75%;
  } */